.heading{
    font-size: 26px;
    width: 100%;
    margin: 0px;
}

.note{
 font-size: 19px;
 color: rgb(226, 136, 0);

}

body{
  background-size: cover;
}

.div_speed{
  text-align: center;
}
  
    #speed{
     font-size: 25px;
     margin: 17px;
    }